@using Serveri_MVC.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    @{
        var user = Session["user"] as User;
    }
    @if (user != null)
    {
        <div class="navbar navbar-default navbar-static-top navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" ", "index", "Login", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-home" })
                    @Html.ActionLink(" ", "Logout", "Login", null, new { @class = "navbar-brand glyphicon glyphicon-log-out", @style = "color: red" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Server", "Pregled", "ServerDodajNovi", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Mrežna", "Pregled", "MrezaDodajNovi", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Korisnik", "Index", "Korisnik", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>
                                <div class="navbar-brand">
                                    <b>Logovan: @user.UserName</b>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div align="center">
            <img src="https://eld3pq-sn3302.files.1drv.com/y3mahFR4FC3Tn-cTPeSrBTYhAOFvExwAJZJsdGSgYHDUGccnurNNz6P8r0Zgl1sUGZ0-uy0tWXthbphBuht-Iv_5kCDQqWDp7JtuEdehg2qfaokFv-ek-vW66QyoT7m2og-3Q9hilZcETIYsGw_q7Qp4OlYJr0_sSiMNlU9BrbYYmg?width=1140&height=300&cropmode=none" class="img-responsive" />
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - ASP.NET MVC & MS SQL</p>
                <p>
                    <a href="http://amel.ddns.net" style="text-decoration: NONE; color: black" ; target="_blank">Design by. Amel Rahmanović</a>
                </p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    }
    else
    {
        Response.Redirect("/Login/Login");
    }
</body>
</html>